@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Comfortaa:wght@400;600&family=Monomaniac+One&&family=Schoolbell&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  box-sizing: border-box;
}
body {
  padding : 0;
  margin : 0;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #040404;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
#background-image {
  /* background-image: url("./assets/background.jpg");
  background-size: cover; */
  position: absolute;
  height: 100%;
  filter: blur(120px) opacity(0.6);
  z-index: -1;
 /* background-image: url("");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(80px); */
}
.bg-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blur-bg{
  filter: blur(80px);
  z-index: -1;
}

.gradient {
  background: rgb(255,148,54);
  background: linear-gradient(90deg, rgba(255,148,54,1) 0%, rgba(242,84,252,1) 61%, rgba(170,10,255,1) 100%); 
}

.gradient-text {
  background: rgb(255,148,54);
  background: linear-gradient(90deg, rgba(255,148,54,1) 0%, rgba(242,84,252,1) 61%, rgba(170,10,255,1) 100%); 
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.h-max-screen{
  max-height: 100vh;
}
.rotate-z-45{
  transform: rotateZ(45deg);
}
.rotate-z-85{
  transform: rotateZ(85deg);
}
.card {
  transition: transform 400ms ease-in-out, shadow 400ms ease-in-out;
}

.card:hover {
  background-color: rgb(5 21 27);
  overflow: hidden;
  position: relative;
  border : none;
  transform: scale(1.15);
  -webkit-box-shadow: 7px 9px 65px -27px rgba(94, 94, 94, 0.605);
-moz-box-shadow: 7px 9px 65px -27px rgba(94, 94, 94, 0.605);
box-shadow: 7px 9px 65px -27px rgba(94, 94, 94, 0.605);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card:hover::before{
  content: '';
  position: absolute;
  z-index: 1;
  width: 20%;
  height: 400%;
  background: linear-gradient(90deg, rgba(255,148,54,1) 0%, rgba(242,84,252,1) 61%, rgba(170,10,255,1) 100%);
  animation: neon 4s linear infinite;
}
.card:hover::after {
  content: '';
  position: absolute;
  z-index: 2;
  inset: 4px;
  backdrop-filter: blur(120px);
  background-color: rgba(5, 21, 27, 0.495);
}
.content {
  position: relative;
  z-index: 10;
}

@keyframes neon {
  0%{
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
